.form_field {
    display: flex;
    align-items: center;
}

.form_field label {
    width: 240px;
}

.form_field__input {
    width: calc(100% - 240px);
}

.form_field__input input {
    padding: 20px 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form_field__input textarea {
    padding: 20px 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    min-height: 200px;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}

.form_field__input p {
    color: red;
}
